.bar{
    margin: 0;
    display: flex;
    height: 64px;
    align-items: flex-end;
    gap: 16px;
    border-radius: 16px;
    background-color: #4B5563;
    padding: 16px;
    padding-bottom: 12px;
}