:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F4F1ED;
  background-image: url(/src/asset/gobo_lights_bg.svg);
  background-size: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
}

.entire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Left Right";
  justify-content: center;
  height: 95vh;
  outline: none;
  align-items: center;
}

.Left{
  grid-area: "Left";
  color: black;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.Left p{
  font-size: 28px;
}

.Right{
  grid-area: "Right";
  color: black;
}

.title{
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 66.667% */
  letter-spacing: -1.44px;
}

.subtitle{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 106.25% */
  letter-spacing: -0.96px;
}

.map
{
  padding-top: 20px
}

.button
{
  padding-top: 25px;
  cursor: pointer;
}

.buttonText
{
  color: #000;
  font-family: Inter;
  font-size: 26.353px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 106.25% */
  letter-spacing: -0.791px;
  padding: 20px;
}

.Right{
  grid-area: "Right";
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.info{
  display: flex;
}

.info p {
  font-size: 22.35px;
}