.pageBoxStyle {
    color: var(--Core-White, #FFF);
    text-align: center;
    text-shadow: 0px 63px 175px rgba(0, 0, 0, 0.70), 0px 1.75px 7px rgba(0, 0, 0, 0.20);
    font-family: Inter;
    font-size: 22.75px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 11px;
    background: rgba(111, 111, 111, 0.30);
    box-shadow: 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(5.310666084289551px);
  }

.LeftBar{
  display: flex;
  align-items: center;
}

.notificationTab {
  position: fixed;
  top: 28px;
  right: 28px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  z-index: 1000;
  color: black;
  border-radius: 16px;
  background: rgba(246, 246, 246, 0.98);
  mix-blend-mode: multiply;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25), 0px 0px 3px 0px rgba(0, 0, 0, 0.55), 0px 0px 3px 0px rgba(255, 255, 255, 0.10) inset;
  backdrop-filter: blur(90.774227142333984px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.272px;
  letter-spacing: -0.5px;
  color: black;
  align-self: start;
}
.item1, .item2, .item3, .item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 14px;
}
