.top {
    grid-area: viewer;
    overflow: hidden;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06), 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06), 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(17.899999618530273px);
    height: 83vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "bar details";
    background-color: #F4F1ED;
}

.bar{
    grid-area: "bar";
    padding-top: 30px;
    background-color: #F4F1ED;
    }

.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.logo{
    padding-right: 80px;
}

.cctvlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;

}

.overview{
    display: flex;
    color: black;
    align-items: center;
    justify-content: start;
    width: 245px;
    height: 40px;
    border-radius: 10px;
    /* background: rgba(131, 131, 131, 0.20);
    box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.25) inset, 0px -1px 1px 0px rgba(255, 255, 255, 0.35) inset; */
    justify-content: space-between;
}

/* overview hover */
.overview:hover{
    border-radius: 10px;
    background: rgba(131, 131, 131, 0.20);
}

.overviewicon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.overviewicon img{
    padding-right: 10px;
    padding-left: 15px;
}

.notification{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #141517;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.notification p{
    margin-left: 0px;
    color: white;
    font-size: 12.643px;
}

.camtag{
    display: flex;
    color: #989898;
    align-items: center;
    justify-content: start;
    width: 245px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    /* background: rgba(131, 131, 131, 0.20);
    box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.25) inset, 0px -1px 1px 0px rgba(255, 255, 255, 0.35) inset; */
}

.camtag img{
    padding-right: 10px;
    padding-left: 25px;
}

.camtag:hover{
    border-radius: 10px;
    background: rgba(131, 131, 131, 0.20);
}

.menu{
    padding-top: 10px;
    background-color: #F4F1ED;
    width: 80%;
    height: 100%;
    align-self: center;
    color: #F4F1ED;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    gap: 10px;
}

.menuItemSelected {
    color: white;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #eee5db;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.details{
    grid-area: "details";
}