*:focus {
  outline: none;
}

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F4F1ED;
  background-image: url(/src/assets/gobo_lights_bg.svg);
  background-size: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.entire{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas: "viewer" "dock";
  justify-content: center;
  height: 100vh;
  padding: 20px;
  outline: none;
}

.top {
  grid-area: viewer;
  overflow: hidden;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06), 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06), 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(17.899999618530273px);
  height: 100%;
}

.bottom {
  grid-area: dock;
  /* background: rgba(255, 255, 255, 0.20); */
  /* box-shadow: 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px -0.85px 0.212px 0px rgba(255, 255, 255, 0.23) inset, 0px 3.399px 3.611px 0px rgba(0, 0, 0, 0.06); */
  /* backdrop-filter: blur(17.899999618530273px); */
  /* height: 20vh; */
  /* make the dock take up the entire width of the screen */
  display: flex;
  z-index: 100;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}